/* import the Tektur font */
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

/* tailwinds injection */
@tailwind base;
@tailwind components;
@tailwind utilities;

.rich-text ul {
  list-style-type: disc; /* Default bullet style */
  padding-left: 1.5rem; /* Ensure space for bullet */
}
.rich-text ul ul {
  list-style-type: circle; /* Nested list style */
}
.rich-text li {
  margin-bottom: 0.5rem; /* Spacing between list items */
}
.rich-text p {
  margin: 1rem 0;
}
